.sidenav {
  //trocar essa cor
  background-color: #D4F1F4;
  width: 110px;
}

.sidenav a {
  color: black;
}

.sidenav i {
  padding-right: 10px;
}
.content {
  padding: 16px;
  background-color: white;
}
