form {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

mat-card{
  background-color: #c2b2b2f9;
}

.title{
  color: #551A8B;
}

input{
  color: #551A8B;
}

button{
  margin: 20px 15px 0px 0px;
}
