
.card {
 background-color: #c2b2b2f9;
}

.title {
  font-family: sans-serif;
  color: #673AB7;
  font-weight: bolder;
}

button {
  margin: 20px 15px 0 0;
}

mat-form-field{
  color: #551A8B;
  display: flex;
  flex-direction: column;
}


