<mat-card class="mat-elevation-z3">
  <mat-card-title class="title">Seja Bem vindo a BookStore!!</mat-card-title>
  <mat-card-subtitle class="subtitle">
    BookStore onde mora os apaixonados por livros que se sintam em casa.
    A leitura de um bom livro é o caminho mais curto para se descobrir que a vida vale a pena.
  </mat-card-subtitle>
</mat-card>

<div class="content">
  <mat-card class="mat-elevation-z4" id="card">
    <mat-card-header>
      <mat-card-title class="title">1808 - Laurentino Gomes</mat-card-title>
    </mat-card-header>
    <img matCardImage src="./../assets/img/1808.png" style>
    <mat-card-content>
      <p class="text-ellipse">
        O maior fenômeno de vendas do mercado editorial brasileiro na categoria não-ficção é agora relançado em versão
        atualizada e ampliada pela Globo Livros. 1808, de Laurentino Gomes...
      </p>
    </mat-card-content>
    <mat-card-actions align="start">
      <div>
        <app-select-time-corse></app-select-time-corse>
        <app-star-rating></app-star-rating>
      </div>
    </mat-card-actions>
  </mat-card>

  <mat-card class="mat-elevation-z4">
    <mat-card-header>
      <mat-card-title class="title">Harry Potter - E o calice de Fogo</mat-card-title>
    </mat-card-header>
    <img matCardImage src="./../assets/img/hp.png" style>
    <mat-card-content>
      <p>
        Harry Potter, agora com 14 anos, sente sua cicatriz arder durante um sonho bastante real com Lord Voldemort, o
        qual não consegue esquecer, três dias depois...
      </p>
    </mat-card-content>
    <mat-card-actions align="start">
      <div>
        <app-select-time-corse></app-select-time-corse>
        <app-star-rating></app-star-rating>
      </div>
    </mat-card-actions>
  </mat-card>
  <mat-card class="mat-elevation-z4">
    <mat-card-header>
      <mat-card-title class="title">A culpda das Estrelas</mat-card-title>
    </mat-card-header>
    <img matCardImage src="./../assets/img/acde.png" style>
    <mat-card-content>
      <p>
        Alguns diriam que não nasceram com uma estrela, que seu mundo é injusto. Hazel e Gus são apenas adolescentes,
        mas se o câncer que ambos sofrem lhes ensinou...
      </p>
    </mat-card-content>
    <mat-card-actions align="start">
      <div>
        <app-select-time-corse></app-select-time-corse>
        <app-star-rating></app-star-rating>
      </div>
    </mat-card-actions>
  </mat-card>
  <mat-card class="mat-elevation-z4">
    <mat-card-header>
      <mat-card-title class="title">A coisa (it) - Stephen King</mat-card-title>
    </mat-card-header>
    <img matCardImage src="./../assets/img/ac_it.png" style>
    <mat-card-content>
      <p>
        Durante as férias escolares de 1958, em Derry, pacata cidadezinha do Maine, Bill, Richie, Stan, Mike, Eddie, Ben
        e Beverly aprenderam o real sentido da amizade...
      </p>
    </mat-card-content>
    <mat-card-actions align="start">
      <div>
        <app-select-time-corse></app-select-time-corse>
        <app-star-rating></app-star-rating>
      </div>
    </mat-card-actions>
  </mat-card>
</div>
